body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    background-image: url(https://i.pinimg.com/736x/f9/64/2b/f9642b37cd61c61b7cb55c5d2a644350.jpg);
    background-position: center center;
    background-size: cover;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #007bff;
    padding: 20px 0;
    text-align: center;
    transition: top 0.3s;
    display: flex;
    justify-content: center;
    z-index: 1000;
}

.navbar-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}

.logo {
    flex: 1;
}

.nav-links {
    flex: 2;
    display: flex;
    justify-content: flex-end;
   
}

.navbar a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 20px;
}

.navbar img {
    width: 50px;
    height: 50px;
}

.navbar a:hover {
    color: white;
    text-decoration: underline;
}

.section-content {
    padding: 120px 20px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    margin: 20px;
    border-radius: 10px;
    
}

.imagens {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px;
}

.imagens img{
    border-radius: 5px;
    width: 275px;
    height: 183px;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.3);
}

#reserva {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding-top: 120px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    width: 300px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    position: relative;
    padding: 20px;
}

#message {
    bottom: -40px;
    width: calc(100% - 20px);
    margin-top: 20px;
    text-align: center;
    font-weight: bold;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    padding: 10px;
}

label {
    margin-bottom: 5px;
    display: block;
}

input, button, textarea, select {
    margin-bottom: 10px;
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#rows {
    width: 100%;
}

button {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0055af;
}

.container1 {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer {
    background-color: #007bff;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    margin-top: auto;
}

.footer p {
    margin: 0;
    padding: 0;
}

.p1{
    transition: 0.5s;
}

.p1:hover{
    text-decoration: underline;
    color: #c5c29b;

}

.footer nav ul {
    list-style: none;
    padding: 0;
    margin: 10px 0 0 0;
    display: flex;
    justify-content: center;
}

.footer nav ul li {
    margin: 0 15px;
}

.footer nav ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

.footer nav ul li a:hover {
    color: #000000;
    text-decoration:underline;
}

.h1feed{
    text-align: center;
    color:aquamarine;
}

